@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    --Bgbody: hsl(185, 41%, 84%);
    --white: hsl(0, 0%, 100%);
    --textClaro: hsl(184, 14%, 56%);
    --BgInput: hsl(189, 41%, 97%);
    --textoEscuro: hsl(183, 100%, 15%);
    --btn: hsl(183, 100%, 15%);
}

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--Bgbody);
}

header {
    margin-top: 1rem;
    width: 100vw;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header img {
    height: 3rem;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

section {
    margin-top: 2rem;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--white);
    padding: .7rem;
    border-radius: 10px;
}

.box1 {
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.containerTxt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.containerTxt > span:first-child {
    color: var(--textClaro);
    font-weight: 700;
    font-size: .8rem;
}

.erroBill,
.erroTip,
.erroPeople {
    color: hsl(355, 85%, 61%);
    font-weight: 700;
    font-size: .5rem;
    margin-right: 2rem;
    display: none;
}

.bill-input {
    height: 2rem;
    padding: .3rem;
    width: 90%;
    text-align: right;
    padding-right: .5rem;
    background: url('../images/icon-dollar.svg') no-repeat scroll 7px 12px;
    border: none;
    background-color: var(--BgInput);
    border-radius: 3px;
    color: var(--textoEscuro);
    font-weight: 700;
    outline: none;
    margin-bottom: 1rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
}


.Tip {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 10px;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.grid-item {
    font-size: .9rem;
    width: 4rem;
    text-align: center;
    height: 1.5rem;
    border-radius: 5px;
}

.Tip > button {
    cursor: pointer;
    border: none;
    background-color: var(--btn);
    color: var(--white);
    transition: .3s;
}

.Tip > button:hover {
    background: hsl(172, 67%, 75%);
    color: var(--textoEscuro);
}

.select {
    background-color: hsl(172, 67%, 45%) !important;
    color: hsl(183, 100%, 15%) !important;
    font-weight: 700;
}

#tip-input {
    text-align: center;
    border: none;
    background-color: var(--BgInput);
    color: var(--textoEscuro);
    font-weight: 700;
    outline: none;
}

.people-input {
    height: 2rem;
    padding: .3rem;
    width: 90%;
    text-align: right;
    padding-right: .5rem;
    background: url('../images/icon-person.svg') no-repeat scroll 7px 12px;
    border: none;
    background-color: var(--BgInput);
    border-radius: 3px;
    color: var(--textoEscuro);
    font-weight: 700;
    outline: none;
    margin-bottom: 1rem;
}

.bill-input:focus, .people-input:focus, #tip-input:focus {
    border: 1px solid hsl(160, 84%, 39%);
}

.box2 {
    height: 90%;
    width: 50%;
    background-color: var(--textoEscuro);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 80%;
}

.flex-item > p:first-child {
    font-size: .7rem;
    color: var(--white);
}

.flex-item > p:last-child {
    font-size: .6rem;
    color: var(--white);
    opacity: 0.6;
}

.tip,
.total {
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(172, 67%, 45%);
}

.containerBtn {
    width: 80%;
    text-align: center;
    margin-top: 2.5rem;
}

#reset {
    width: 95%;
    font-weight: 700;
    background-color: hsl(172, 67%, 45%);
    color: var(--textoEscuro);
    height: 2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: .3s;
}

#reset:hover {
    background: hsl(172, 67%, 75%);
}

#reset:active {
    transform: scale(0.9);
}

@media (max-width: 650px) {
    header {
        width: 100%;
    }

    main {
        flex-direction: column;
    }

    section {
        flex-direction: column;
        width: 100%;
    }

    .box1 {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .box2 {
        width: 90%;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .containerBtn {
        margin-top: .8rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 450px) {
    .grid-item {
        font-size: .9rem;
        width: 6rem;
        text-align: center;
        height: 2rem;
        border-radius: 5px;
    }

    .Tip {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .flex {
        width: 100%;
    }

    .tip,
    .total {
        font-size: 1.2rem;
    }

    .containerBtn {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .Tip {
        width: 100%;
    }

    .grid-item {
        width: 5.5rem;
    }
}

@media (max-width: 320px) {
    .Tip {
        width: 90%;
    }

    .grid-item {
        width: 4.5rem;
    }
}

.alert {
    color: hsl(355, 85%, 61%) !important;
    background-color: hsl(355, 85%, 91%) !important;
    border: solid 2px hsl(355, 85%, 61%) !important;
}